@media screen and (min-width: 480px) {

    #gallery li {
        width: 28.3333%;
    }
    
    /************************************************/
    /*    About me:       */
    /************************************************/
    
    /*Styling for photo*/
    
    .profile-pic {
        width: 150px;
        float: left;
        margin: 0px  25px 80px 0;
    }

    img {
        width: 100%;
    }




    
    }
    
    /************************************************/
    /*    Header:       */
    /************************************************/
    @media screen and (min-width: 660px) {
        
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        width: 45%;
        text-align: right;
        margin-top: 35px;
        }
        nav a.selected {
            color: #6b6b6b;
            outline: none;
          }
        
        
        #logo {
            float: left;
            text-align: left;
            margin-left: 5%;
            width: 125px;
            margin-bottom: 10px;
        }
    



        header {
    margin: 0 0 30px;
    padding: 10px 0 0 0;
    background: #0d2f00;
    display: block;
    text-align: center;
    border-bottom: 5px solid #029a00;
}
img {
    max-width: 100%;
  }
   
        
    h1 {
        font-size: 2.5em;
        line-height: 1.1em;
    }
        
    h2 {
        margin-bottom: 20px;
    }
    
    
    /************************************************/
    /*    Footer:       */
    /************************************************/
    
    footer {
        padding-top: 35px;
    }
    
    /************************************************/
    /*    Contact:       */
    /************************************************/
    
    
    
    #column1 {
    float: left;
    width: 50%;
    }
    
    
    #column2 {
    float: right;
    width: 40%;
    margin-top: 0;
        
    }
    
    }